<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Capgemini.Xrm.Deployment.PackageDeployer.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <connectionStrings>
    <add name="CrmDefaultConnection" connectionString="Url=https://capgeminibasedev.crm4.dynamics.com; AuthType=Office365; UserName=ciauth@capgeminicrmuk.onmicrosoft.com; Password=Capgemini2017;" />
  </connectionStrings>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.28.0.725" newVersion="2.28.0.725" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.28.0.725" newVersion="2.28.0.725" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Capgemini.Xrm.Deployment.PackageDeployer.UI.Properties.Settings>
      <setting name="PkgFolderPath" serializeAs="String">
        <value>C:\!ImportExportTest\PackageDeployerFull\PkgFolder</value>
      </setting>
      <setting name="ImportData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImportConfigSubfolder" serializeAs="String">
        <value />
      </setting>
    </Capgemini.Xrm.Deployment.PackageDeployer.UI.Properties.Settings>
  </applicationSettings>
</configuration>